@import url("https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

.close {
  display: none;
}

body {
  background-color: #121212;
  border: 1px solid #121212;
  color: white;
}

::selection {
    background-color: #1fdf64;
}

#trending h1 {
  text-align: center;
  font-size: 25px;
  font-family: cursive;
  text-decoration: underline;
}

.songs b {
  padding-left: 30px;
}

audio::-webkit-media-controls-panel {
  background-color: #406161;
}

#tu {
  padding-left: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 30px;
  filter: invert(1);
  background: #e2d9d9;
  border-radius: 10px;
  width: 90%;
  padding: 12px;
  width: 70vw;
  min-height: 40px;
  margin-left: 24rem;
  height: 5rem;
}

#tu::-webkit-media-controls-panel {
  background-color: #1d2626;
  filter: invert(1);
}
audio::-webkit-media-controls-play-button {
  background-color: white;
  border-radius: 50%;
}
#tu::-webkit-media-controls-current-time-display {
  color: white;
  padding-left: 20px;
}
#tu::-webkit-media-controls-time-remaining-display {
  color: whitesmoke;
  padding-left: 8px;
}
#tu::-webkit-media-controls-timeline {
  border-radius: 40px;
  /* background-color: ; */
}
#tu::-webkit-media-controls-volume-slider {
  background-color: #406161;
  border-radius: 50px;
  padding-left: 10px;
  padding-right: 10px;
}
#tu::-webkit-media-controls-mute-button {
  background-color: #96b5b5;
  border-radius: 50%;
}

audio {
  display: block;
  margin-bottom: 30px;
}

#space {
  margin-top: 50px;
}

.left {
  width: 23vw;
  padding: 10px;
}

.right {
  width: 77vw;
}

.home ul li {
  display: flex;
  gap: 15px;
  width: 14px;
  list-style: none;
  padding-top: 14px;
  font-weight: bold;
}

.heading {
  display: flex;
  gap: 15px;
  width: 100%;
  padding-top: 14px;
  padding: 23px 14px;
  font-weight: bold;
  align-items: center;
  font-size: 13px;
}

.heading img {
  width: 30px;
}

.library {
  height: 520px;
  /* border: 2px solid red; */
  position: relative;
}

#box1 {
  padding: 14px;
  border: 1px solid #252525;
  background-color: #252525;
  border-radius: 8px;
}

#box1 b {
  padding-top: 12px;
  padding: 15px;
  color: white;
  font-size: 16px;
}

#box1 p {
  color: white;
  font-size: 14px;
  padding-left: 15px;
  padding-top: 8px;
}

#box1 button {
  padding: 8px;
  margin-left: 15px;
  border-radius: 60px;
  color: black;
  font-weight: bold;
}

#box2 {
  margin-top: 2rem;
  padding: 14px;
  border: 1px solid #252525;
  background-color: #252525;
  border-radius: 8px;
}

#box2 b {
  padding-top: 12px;
  padding: 15px;
  color: white;
  font-size: 16px;
  /* padding-left: 2rem; */
}

#box2 p {
  color: white;
  font-size: 14px;
  padding-left: 15px;
  padding-top: 8px;
}

#box2 button {
  margin-top: 20px;
  line-height: 1rem;
  padding: 10px;
  margin-left: 15px;
  border-radius: 60px;
  color: black;
  font-weight: bold;
}

.right {
  margin: 16px 0;
  position: relative;
  height: 100vh;
}

.header {
  display: flex;
  justify-content: space-between;
  /* background-color: rgb(34 34 34); */
}

.header > * {
  padding: 20px;
}

.spotifyPlaylists {
  padding: 16px;
}

.spotifyPlaylists h1 {
  padding: 16px;
}

.cardContainer {
  margin: 30px;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  overflow-y: auto;
  max-height: 60vh;
}

.card {
  width: 200px;
  padding: 10px;
  border-radius: 5px;
  background-color: #252525;
  position: relative;
  transition: all 0.9s;
}

.cardbox {
  /* border: 2px solid red; */
  height: 300px;
  width: 203px;
  background-color: #1c1a1a;
  border-radius: 0.65rem;
}

.cardbox .cards {
  justify-content: center;
  align-items: center;
  height: 274px;
  width: 194px;
}

.cards h2 {
  font-size: 17px;
  padding-bottom: 10px;
  font-weight: bold;
  padding-left: 16px;
}

.cards p {
  font-size: 13px;
  padding-left: 16px;
  color: rgba(169, 169, 169, 0.616);
  line-height: 1.11rem;
}

.gap {
  gap: 2rem;
}

.cardbox:hover {
  background-color: rgb(105, 103, 103);
  cursor: pointer;
  --a: 1;
  transition: 0.45s all ease;
}

.card > * {
  padding-top: 10px;
}

.card img {
  width: 100%;
  object-fit: contain;
}

.play {
  width: 28px;
  height: 28px;
  background-color: #1fdf64;
  border-radius: 50%;
  padding: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 88px;
  right: 17px;
  opacity: var(--a);
  transition: all 1s ease-out;
}

.buttons > * {
  margin: 0 12px;
}

.signupbtn {
  background-color: #101010;
  color: rgb(156, 148, 148);
  font-weight: bold;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 16px;
}

.signupbtn:hover {
  font-size: 17px;
  color: white;
}

.loginbtn {
  background-color: white;
  border-radius: 21px;
  color: black;
  padding: 10px;
  width: 79px;
  cursor: pointer;
  font-size: 16px;
}

.loginbtn:hover {
  font-weight: bold;
  font-size: 17px;
}

.hamburger {
  display: none;
}

.range input {
  cursor: pointer;
}

.abovebar {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
  width: 100%;
}

.col-container {
  display: flex;
  gap: 10rem;
  line-height: 1.85rem;
  margin: 2rem;
  color: #989898;
  font-weight: bold;
}

.col-container ul li {
  list-style: none;
}

.col-container ul li:hover {
  text-decoration: underline;
  color: white;
}

footer {
  margin-top: 3rem;
  /* background: #252525; */
}

@media (max-width: 1200px) {
  .left {
    position: absolute;
    left: -130%;
    transition: all 0.3s;
    z-index: 1;
    width: 373px;
    background-color: black;
    padding: 0;
    height: 100vh;
    position: fixed;
    top: 0;
  }

  .songinfo,
  .songtime {
    width: auto;
  }

  .left .close {
    position: absolute;
    right: 31px;
    top: 25px;
    width: 29px;
  }

  .timevol {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    gap: 13px;
  }

  .right {
    width: 100vw;
  }

  .playbar {
    width: calc(100vw - 75px);
  }

  .seekbar {
    width: calc(100vw - 120px);
  }

  .hamburger {
    display: block;
  }

  .right {
    margin: 0;
  }

  .card {
    width: 55vw;
  }

  .cardContainer {
    margin: 0;
    justify-content: center;
  }

  .close {
    display: block;
  }

  .abovebar {
    flex-direction: column;
    gap: 23px;
    align-items: center;
  }

  .cardContainer {
    max-height: unset;
    overflow-y: unset;
    margin-bottom: 35vh;
  }

  .playbar {
    right: 25px;
  }
}

@media (max-width: 500px) {
  .card {
    width: 100%;
  }

  .header > * {
    padding: 2px;
  }

  .buttons > * {
    margin: 0 6px;
  }

  .header {
    padding: 7px;
  }

  .spotifyPlaylists h1 {
    padding: 4px;
  }

  .library {
    height: 85vh;
  }

  .left {
    width: 100vw;
  }
}
